<app-titulo [titulo] = "'Evento'"></app-titulo>
<hr>
<!-- <form class="row row-cols-lg-auto g-3 align-items-center" action=""> -->
  <div class="row row-cols-lg-auto g-3 align-items-center">
    <div class="input-group mb-3">
      <span class="input-group-text">Filtro</span>
      <input type="text" class="form-control" placeholder="Buscar" [(ngModel)]="filtroLista" />
    </div>
</div>
<!-- </form> -->
<!-- <h4>Filtro: {{filtroLista}}</h4> -->
<br>
<div class="table-responsive">
  <table class="table table-striped align-middle table-hover table-bordered">
    <thead class="table-dark">
      <tr>
        <th class="text-center" scope="col">
          <!-- Interpolação com condição para mostrar imagens -->
          <button type="button" class="btn btn-outline-light btn-sm"
            (click)="exibirImagem()">
            <i class="{{!displayImg ? 'fa fa-eye' : 'fa fa-eye-slash'}}"></i>
            {{!displayImg ? 'Exibir' : 'Ocultar'}}</button>
        </th>
        <th class="text-center" scope="col">#</th>
        <th class="text-center" scope="col">Tema</th>
        <th class="text-center" scope="col">Local</th>
        <th class="text-center" scope="col">Data</th>
        <th class="text-center" scope="col">Qtd Pessoas</th>
        <th class="text-center" scope="col">Lote</th>
        <th class="text-center" scope="col">Opções</th>
      </tr>
    </thead>
    <!-- Se possuir eventos cadastrados -->
    <!-- Diretivas Estruturais -->
    <tbody *ngIf="eventos && eventos.length">
      <tr *ngFor="let evento of eventosFiltrados">
        <!-- Properties Bindings -->
        <td class="text-center">
          <img class="rounded mx-auto img-thumbnail"  [collapse]="!displayImg" [isAnimated]="true"  src="/assets/{{evento.imagemURL}}" [style.width.px]="widthImg"
            [style.margin.px]="marginImg" />
        </td>
        <!-- Interpolação -->
        <td class="text-center">{{evento.id}}</td>
        <td class="text-center">{{evento.tema}}</td>
        <td class="text-center">{{evento.local}}</td>
        <td class="text-center">{{evento.dataEvento | DateFormatPipe}}</td>
        <td class="text-center">{{evento.qntPessoas}}</td>
        <td class="text-center">{{evento.lotes[0].nome}}</td>
        <td class="text-center">
          <div class="d-grid gap-2 btn-group-vertical">
          <button type="button" class="btn btn-primary btn-sm" tooltip="Editar">
            <i class="fa fa-edit"></i>
          </button>
          <button type="button" class="btn btn-danger btn-sm" tooltip="Excluir" (click)="openModal(template)">
            <i class="fa fa-trash"></i>
          </button>
          </div>
        </td>
      </tr>
    </tbody>
    <!-- Se não possuir eventos cadastrados -->
    <tfoot *ngIf="!eventos.length">
      <tr>
        <td colspan="8">
          <h4 class="text-center">Nenhum evento encontrado!</h4>
        </td>
      </tr>
    </tfoot>
  </table>
</div>

<!-- {{eventos | json}} -->

<ng-template #template>
  <div class="modal-body text-center">
    <p>Tem certeza que quer deletar este evento?</p>
    <button type="button" class="btn btn-default" (click)="confirm()" >Sim</button>
    <button type="button" class="btn btn-primary" (click)="decline()" >Não</button>
  </div>
</ng-template>
